.eachWord {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-bottom: 10px;
}
.name-heading {
  font-size: 20px;
  font-family: 'Roboto';
  color: #334155;
  margin: 0px;
}
.nameLenght-heading {
  font-size: 20px;
  font-family: 'Roboto';
  color: #334155;
  font-weight: bold;
  margin-left: 5px;
  margin: 0px;
}
